.container {
  width: 756%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #1FCFDE;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 6px 0 #4B5A5C;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #EFEF0B;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #282821;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
